<header id="header">
    <div id="marca">
      <img src="../../assets/img/Brackets2.png" alt="Logo com brackets">
      <a href="#"><h1>LCF</h1></a>
    </div>
    <nav id="nav">
      <ul id="menu">
        <li><a href="#" (click)="menu()">Home</a></li>
        <li><a href="#sobre" (click)="menu()">Sobre</a></li>
        <li><a href="#projetos" (click)="menu()">Projetos</a></li>
        <li><a href="#" routerLink="/feedback" (click)="menu()">Contato</a></li>
      </ul>
      <button id="btn-mobile" (click)="menu()">Menu
        <span id="hamburger"></span>
      </button>
    </nav>
</header>
