<section id="contato">
  <div class="contato">
    <br><br><br>
    <h1>Contatos</h1>

    <section id="formulario">
      <h3>Tem alguma pergunta ou quer trabalhar comigo ?</h3>
      <br>
      <form [formGroup]="solicitacao" (ngSubmit)="enviar()">
        <input type="text" id="nome" name="nome" placeholder="Nome completo" autocomplete="off" formControlName="nome"><br>
        <input type="email" id="email" name="_replyto" placeholder="Email" autocomplete="off" formControlName="_replyto"><br>
        <textarea name="mensagem" id="mensagem" placeholder="Insira sua mensagem" autocomplete="off" formControlName="mensagem"></textarea><br>
        <button type="submit" [disabled]="!solicitacao.valid">Enviar</button>
        <br><br>
        <span>{{warning}}</span>
      </form>
    </section>
  </div>
</section>
